/* Sections */

#header {
    position: absolute;
    width: 100%;
    padding: 40px 0;
}

.hero {
    background-color: var(--bg_blue);
    color: var(--hero_body);
    display: flex;
    & small {
        font-size: 14px;
        color: #bfd8fa;
        text-transform: uppercase;
    }
}