/* Tables */


table {
    width: 100%;
    text-align: left;

    & thead {
        font-weight: 600;
        background-color: var(--table_header);
        text-transform: uppercase;
        color: var(--title);
        padding: 15px 0;

        & th {
            padding-left: 15px;
        }
    }
}