/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, table,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: inherit
}

table thead {
}

table thead th {
  font-weight: inherit;
}

/* General */

:root {
    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@charset "UTF-8";

/* Grid */

.container {
    padding-right: 2%;
    padding-left: 2%;
    display: block;
    margin: 0 auto;
    width: 92%;
    max-width: 1200px;
}

.row{
    box-sizing:border-box;
    display:flex;
    flex:0 1 auto;
    flex-direction:row;
    flex-wrap:wrap;
    margin-right: .5%;
    margin-left: .5%;
}

.middle-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.col-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  box-sizing: border-box;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  box-sizing: border-box;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  box-sizing: border-box;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  box-sizing: border-box;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  box-sizing: border-box;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  box-sizing: border-box;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  box-sizing: border-box;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  box-sizing: border-box;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  box-sizing: border-box;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.col-offset-12 {
  margin-left: 100%;
}

.start {
    justify-content: flex-start;
    text-align: start;
}

.center {
    justify-content: center;
    text-align: center;
}

.end {
    justify-content: flex-end;
    text-align: end;
}

.top {
    align-items: flex-start;
}

.middle {
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
}

.bottom {
    align-items: flex-end;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.first {
    order: -1;
}

.last {
    order: 1;
}

/* Vertical Spacing */

.top-1 {
  margin-top: 5px;
}

.bottom-1 {
  margin-bottom: 5px;
}

.top-2 {
  margin-top: 10px;
}

.bottom-2 {
  margin-bottom: 10px;
}

.top-3 {
  margin-top: 15px;
}

.bottom-3 {
  margin-bottom: 15px;
}

.top-4 {
  margin-top: 20px;
}

.bottom-4 {
  margin-bottom: 20px;
}

.top-5 {
  margin-top: 25px;
}

.bottom-5 {
  margin-bottom: 25px;
}

.top-6 {
  margin-top: 30px;
}

.bottom-6 {
  margin-bottom: 30px;
}

.top-7 {
  margin-top: 35px;
}

.bottom-7 {
  margin-bottom: 35px;
}

.top-8 {
  margin-top: 40px;
}

.bottom-8 {
  margin-bottom: 40px;
}

.top-9 {
  margin-top: 45px;
}

.bottom-9 {
  margin-bottom: 45px;
}

.top-10 {
  margin-top: 50px;
}

.bottom-10 {
  margin-bottom: 50px;
}

.top-11 {
  margin-top: 55px;
}

.bottom-11 {
  margin-bottom: 55px;
}

.top-12 {
  margin-top: 60px;
}

.bottom-12 {
  margin-bottom: 60px;
}

.top-13 {
  margin-top: 65px;
}

.bottom-13 {
  margin-bottom: 65px;
}

.top-14 {
  margin-top: 70px;
}

.bottom-14 {
  margin-bottom: 70px;
}

.top-15 {
  margin-top: 75px;
}

.bottom-15 {
  margin-bottom: 75px;
}

.top-16 {
  margin-top: 80px;
}

.bottom-16 {
  margin-bottom: 80px;
}

.top-17 {
  margin-top: 85px;
}

.bottom-17 {
  margin-bottom: 85px;
}

.top-18 {
  margin-top: 90px;
}

.bottom-18 {
  margin-bottom: 90px;
}

.top-19 {
  margin-top: 95px;
}

.bottom-19 {
  margin-bottom: 95px;
}

.top-20 {
  margin-top: 100px;
}

.bottom-20 {
  margin-bottom: 100px;
}

/* Typesetting */

@font-face {
    font-family: 'ProximaNova';
    src: url('css/fonts/proxima-nova-regular.eot');
    src: url('css/fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/proxima-nova-regular.woff2') format('woff2'),
         url('css/fonts/proxima-nova-regular.woff') format('woff'),
         url('css/fonts/proxima-nova-regular.ttf') format('truetype'),
         url('css/fonts/proxima-nova-regular.svg#youworkforthem') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('css/fonts/proxima-nova-regular-italic.eot');
    src: url('css/fonts/proxima-nova-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/proxima-nova-regular-italic.woff2') format('woff2'),
         url('css/fonts/proxima-nova-regular-italic.woff') format('woff'),
         url('css/fonts/proxima-nova-regular-italic.ttf') format('truetype'),
         url('css/fonts/proxima-nova-regular-italic.svg#youworkforthem') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('css/fonts/proxima-nova-semibold.eot');
    src: url('css/fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/proxima-nova-semibold.woff2') format('woff2'),
         url('css/fonts/proxima-nova-semibold.woff') format('woff'),
         url('css/fonts/proxima-nova-semibold.ttf') format('truetype'),
         url('css/fonts/proxima-nova-semibold.svg#youworkforthem') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('css/fonts/proxima-nova-bold.eot');
    src: url('css/fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/proxima-nova-bold.woff2') format('woff2'),
         url('css/fonts/proxima-nova-bold.woff') format('woff'),
         url('css/fonts/proxima-nova-bold.ttf') format('truetype'),
         url('css/fonts/proxima-nova-bold.svg#youworkforthem') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Document level adjustments 
@media var(--tLandscape) {
    html { font-size: 15px; }
}
@media var(--mPortrait) {
    html { font-size: 13px; }
}
*/

body {
    color: #7b869d;
}

/* Modules will scale with document */

.header {
    font-size: 1.5rem;
}

.footer {
    font-size: 0.75rem;
}

.sidebar {
    font-size: 0.85rem;
}

/* Type will scale with modules */

h1, h2, h3, h4, .title {
    color: #5c677e;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2.25em;
    font-weight: 700;
}

h4 {
    font-size: 1.87em;
    font-weight: 600;
}

h5 {
    font-size: 1em;
    font-weight: 600;
}

p {
    font-size: inherit;
    line-height: 1.4rem;
}

a {
    text-decoration: underline;
    color: #3d98ff
}

a.external {
  display: inline-block;
  text-transform: uppercase;
  font-size: .87rem;
  margin-top: 20px;
}

nav {
}

nav ul {
}

nav ul li {
  text-transform: uppercase;
  display: inline;
  font-weight: 600;
  font-size: .87rem;
}

nav ul li:not(:last-of-type) {
  margin-right: 60px;
}

nav ul li a {
  color: #c6deff;
  text-decoration: none;
}

/* ----------------------------------------------------------- Icon Font ------- */

@font-face {
  font-family: "ropensci";
  src:url("css/fonts/ropensci.eot");
  src:url("css/fonts/ropensci.eot?#iefix") format("embedded-opentype"),
    url("css/fonts/ropensci.woff") format("woff"),
    url("css/fonts/ropensci.ttf") format("truetype"),
    url("css/fonts/ropensci.svg#ropensci") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ropensci" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ropensci" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\61";
}

.icon-gift:before {
  content: "\62";
}

.icon-heart:before {
  content: "\63";
}

.icon-notebook:before {
  content: "\64";
}

.icon-sign:before {
  content: "\65";
}

.icon-video:before {
  content: "\66";
}

i {
    font-family: "ropensci";
    font-style: normal;
}

/* Sections */

#header {
    position: absolute;
    width: 100%;
    padding: 40px 0;
}

.hero {
    background-color: #6faef5;
    color: #d4e5fd;
    display: flex
}

.hero h1 {
  color: white;
}

.hero small {
  font-size: 14px;
  color: #bfd8fa;
  text-transform: uppercase;
}

.donate {
    background-color: #797f8b;
    color: #d8dfee;
}

.docs, .newsletter {
    background-color: #f5f7fd;
}

.list {
    width: 67%;
}

.community {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background: #eb01a5;
    background-repeat: no-repeat;
    background-image: url("img/bg_community.png"); /* fallback */
    background-image: url("img/bg_community.png"), linear-gradient(to bottom,  #f5f7fd 0%,#ffffff 100%); /* W3C */

}

.helmsley {
    background-color: #dae3f5
}

.helmsley p {
  font-size: 1.5rem;
}

.helmsley i {
  color: #f171a6;
  font-size: 1.5rem;
}

#footer {
    background-color: #4b8add;
    color: #aac9f3;
    font-size: .75rem
}

#footer h5 {
  text-transform: uppercase;
  font-weight: 600;
}

#footer ul {
}

#footer ul li {
  line-height: 1.3rem;
}

#footer ul li a {
  text-decoration: none;
  color: #aac9f3;
}

#footer a {
  color: #ccdef6;
}

/* Forms */

form {
    width: 100%
}

form.newsletter {
}

form.newsletter input {
  font-family: "ProximaNova";
  color: #7b869d;
  font-size: 1rem;
  font-style: italic;
  border: 1px solid #e8edf7;
  padding: 15px 15px 15px 40px;
  border-radius: 2px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

form.newsletter button {
  font-family: "ProximaNova";
  border-radius: 2px;
  font-size: .87rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #3d98ff;
  border: 0 none;
  color: white;
  padding: 16px;
  position: relative;
  margin-top: -47px;
  float: right;
}

form.newsletter {
}

form.newsletter input {
  background: url('img/email.svg') 10px center no-repeat white;
}

a.button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
    display: inline-block;
    font-size: .8rem
}

a.button.main {
  padding: 15px 30px;
  background-color: #63cf3a;
  color: white;
}

a.button.secondary {
  padding: 15px 30px;
  background-color: #3d98ff;
  color: white;
}

a.button.outline {
  border: 1px solid;
  padding: 12px 20px;
}

a.button.outline.green {
  color: #63cf3a;
  border-color: #63cf3a;
}

a.button.outline.blue {
  border-color: #3d98ff;
  color: #3d98ff;
}

::placeholder {
    color: #adb5c6;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #adb5c6;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #adb5c6;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #adb5c6;
}

:-moz-placeholder { /* Firefox 18- */
  color: #adb5c6;
}

/* Tables */

table {
    width: 100%;
    text-align: left;
    font-size: .87rem
}

table thead {
  font-weight: 600;
  background-color: #dfe3eb;
  text-transform: uppercase;
  color: #5c677e;
}

table thead tr {
}

table thead tr th {
  padding: 15px 13px;
}

table tbody {
}

table tbody tr {
}

table tbody tr:nth-child(even) {
  background-color: #f7faff;
}

table tbody tr:last-of-type {
  border-bottom: 1px solid #edf1f8;
}

table tbody tr td {
  padding: 15px;
}

/*  --------------------------------------------------  Media Queries Declaration */

@media screen and (orientation: portrait) and (max-width: 700px) {
    .container {
        width: 96%;
    }

    .row {
        text-align: center;
        justify-content: center;
    }

    .col-1 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-2 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-3 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-4 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-5 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-6 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-offset-1 {
    margin-left: 0;
  }

    .col-offset-2 {
    margin-left: 0;
  }

    .col-offset-3 {
    margin-left: 0;
  }

    .col-offset-4 {
    margin-left: 0;
  }

    .col-offset-5 {
    margin-left: 0;
  }

    .col-offset-6 {
    margin-left: 0;
  }

    .col-offset-7 {
    margin-left: 0;
  }

    .col-offset-8 {
    margin-left: 0;
  }

    .col-offset-9 {
    margin-left: 0;
  }

    .col-offset-10 {
    margin-left: 0;
  }

    .col-offset-11 {
    margin-left: 0;
  }

    .col-offset-12 {
    margin-left: 0;
  }
}

@media screen and (orientation: portrait) and (max-width: 700px) {
    .container {
        width: 96%;
    }

    .row {
        text-align: center;
        justify-content: center;
    }

    .col-1 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-2 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-3 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-4 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-5 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-6 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-offset-1 {
    margin-left: 0;
  }

    .col-offset-2 {
    margin-left: 0;
  }

    .col-offset-3 {
    margin-left: 0;
  }

    .col-offset-4 {
    margin-left: 0;
  }

    .col-offset-5 {
    margin-left: 0;
  }

    .col-offset-6 {
    margin-left: 0;
  }

    .col-offset-7 {
    margin-left: 0;
  }

    .col-offset-8 {
    margin-left: 0;
  }

    .col-offset-9 {
    margin-left: 0;
  }

    .col-offset-10 {
    margin-left: 0;
  }

    .col-offset-11 {
    margin-left: 0;
  }

    .col-offset-12 {
    margin-left: 0;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .container {
        width: 80%;
    }

    .row {
        text-align: center;
        justify-content: center;
    }

    .col-1 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-1 {
    margin-left: 0;
  }

    .col-2 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-2 {
    margin-left: 0;
  }

    .col-3 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-3 {
    margin-left: 0;
  }

    .col-4 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-4 {
    margin-left: 0;
  }

    .col-5 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-5 {
    margin-left: 0;
  }

    .col-6 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-6 {
    margin-left: 0;
  }

    .col-7 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-7 {
    margin-left: 0;
  }

    .col-8 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-8 {
    margin-left: 0;
  }

    .col-9 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-9 {
    margin-left: 0;
  }

    .col-10 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-10 {
    margin-left: 0;
  }

    .col-11 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-11 {
    margin-left: 0;
  }

    .col-12 {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

    .col-offset-12 {
    margin-left: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 640px) {
    .container {
        width: 92%;
    }

    .col-1 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-2 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-3 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-4 {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

    .col-5 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-6 {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

    .col-offset-1 {
    margin-left: 0;
  }

    .col-offset-2 {
    margin-left: 0;
  }

    .col-offset-3 {
    margin-left: 0;
  }

    .col-offset-4 {
    margin-left: 0;
  }

    .col-offset-5 {
    margin-left: 0;
  }

    .col-offset-6 {
    margin-left: 0;
  }

    .col-offset-7 {
    margin-left: 0;
  }

    .col-offset-8 {
    margin-left: 0;
  }

    .col-offset-9 {
    margin-left: 0;
  }

    .col-offset-10 {
    margin-left: 0;
  }

    .col-offset-11 {
    margin-left: 0;
  }

    .col-offset-12 {
    margin-left: 0;
  }
}
